a {
    color: deeppink;
}

a:hover {
	color: #fff;
    background: deeppink;
	text-decoration: none;
}

#navbardrop_women:hover {
	color: #fff;
}

#navbardrop_men:hover {
	color: #fff;
}

#navbardrop_kids:hover {
	color: #fff;
}

#navbardrop_accessories:hover {
	color: #fff;
}

.copyright {
	background-color: white;
	color: grey;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
}

.copyright a {
	color: grey;
	text-decoration: underline;
}

.copyright a:hover {
	color: black;
	text-decoration: underline;
	background: inherit;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.nav-link dropdown-toggle a:hover {
	color: #fff;
    background: deeppink;
	text-decoration: none;
}

.nav navbar-nav navbar-right {
	float: right;
}

.nav-item{
	float: right;
}