{% extends 'base_about.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-12 ">
	   	<h3 class="text-center">{{item.name}}</h3>
	  	<p>{{ item.description }}</p>
	   	
	   	<p>	САМАЯ ВАЖНАЯ ИНФОРМАЦИЯ:<br>
			— чтобы заказать или спросить, что угодно пишите МНЕ;<br>
			— доставка по Москве в пределах метро БЕСПЛАТНО, по России — 300 рублей;<br>
			— при покупке от 900 рублей ЭКСКЛЮЗИВНЫЙ СТИКЕРПАК В ПОДАРОК;<br>
			— при покупке от 3 вещей ЧЕТВЁРТАЯ В ПОДАРОК.<br>
			<br>
			Лучший интернет-сэконд за последнюю тысячу лет реализует:<br>
			— принципы разумного потребления;<br>
			— ваше желание быть стильным и изысканным;<br>
			— уважение к слонам.<br>
			<br>
			Добро пожаловать! :3
		</p>
	   	<p></p>
	</div>
</div>
{% endblock content %}