{% extends 'base_homepage.html' %}


{% block content %}
<h3 class=" text-center">Ваша корзина</h3>
<br>

<table class='table'>
    <tr>
        <td class="text-center">Товар</td>
         <td class="text-center">Количество</td>
         <td class="text-center">Цена</td>
         <td class="text-center">Товар</td>
    </tr>
    <!--# {% for item in cart.items.all %}-->
<tr>
        <td class="text-center">111</td>
    <td class="text-center">1</td>
    <td class="text-center">2</td>
</tr>
    <!--{% endfor %}-->
</table>


{% endblock content %}