{% extends 'base_category.html' %}

{% block content %}

{% if category == "all"  %}
<h1 align="center">всё</h1>
{% elif category == "tops" %}
<h1 align="center">верх</h1>
{% elif category == "bottoms" %}
<h1 align="center">низ</h1>
{% elif category == "dresses" %}
<h1 align="center">платья</h1>
{% elif category == "accessories" %}
<h1 align="center">аксессуары</h1>
{% endif %}

<!-- item cards -->
<div class="row">
    
    {% for item in items reversed %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="/item/{{ item.slug }}">
                <img class="card-img-top" src="{{ item.image.url }}" alt=""
                     style="width: 100%; max-height: 350px;">
            </a>
            <div class="card-body">
                <h4 class="card-title" style="text-align: center;">
                    <a href="/item/{{ item.slug }}">{{ item.name }}</a>
                </h4>

                <h5 style="text-align: center;">{{ item.price }} &#8381</h5>                
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}
