{% extends 'base_item.html' %}

{% block content %}
<div class="row" style="margin-top: 30px">
    <div class="col-sm-4 my-3">
        <img src="{{ item.image.url }}" style=" width: 80%; height: 250px">
        <p>
            {{item.price}} &#8381<br>
            {{item.material}}<br>
            {{item.size}}<br>
        </p>
    </div>

    <div class="col-sm-8 ">
        <h3 class="text-center">{{item.name}}</h3>
        <hr>
        <p>{{ item.description }}</p>
        <hr>
        
        <a href='add_to_cart/{{ item.slug }}'>
            <button class="btn btn-danger">Add to Cart</button></a>
    </div>
</div>
{% endblock content %}